* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    position: relative;
    top: 0%;
    /* align-items: center; */

}

.navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
    top: 0px;
    left: 0px;
}

.Logo img {
    height: 70px;
    width: 150px;
    margin: 4px 10px;
}

.navbar ul {
    display: flex;
    /* margin: 20px 20px; */
}

.navbar ul li {
    list-style: none;
    padding: 10px 20px;
    margin: 20px 20px;
    font-size: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
}

.navbar ul li a:hover {
    color: black;
}

.containor {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 3px 20px;
    height: 400px;

}

.containor::before {
    content: "";
    background-image: url('bgimage.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    height: 63%;
    width: 100%;
    z-index: -1;
    position: absolute;
    opacity: 0.50;
    top: 0px;
    left: 0px;
}

.primary {
    font-size: 3rem;
    padding: 12px;
    color: white;
    text-align: center;
}

.containor p {
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

.center {
    text-align: center;
}

.servies {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 20px;
    margin: 34px;
    flex-direction: column;
}
.servies h1{
    font-size: 3rem;
    padding: 20px;
}

.servies-containor {
    display: flex;
    align-items: center;
    justify-content: center;
}

.servies .box {
    border: 2px solid brown;
    height: 350px;
    width: 400px;
    padding: 10px 20px;
    margin: 10px;
    background-color: rgb(253, 235, 235);
    border-radius: 20px;
}

.servies .box .img {
    height: 200px;
    margin: auto;
    display: block;

}
.servies .box .secondery {
    padding: 15px;
}
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    background-image: url("images.jpg") ;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
#contact h1{
    font-size: 3rem;
}
#contact-box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}
#contact-box input{
    width: 100%;
    border-radius: 5px;
    font-size: 0.9rem;
    height: 30px;
}
#contact-box .btn{
    text-align: center;
    position: relative;
    left: 133px;
    border-radius: 10px;
   height: 40px;
   width: 70px;
}
.form-group{
    font-size: 1.1rem;
    margin: 20px;
}
.footer{
    background-color: black;
    color: white;
}